<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Giggity</title>
  <link rel="icon" type="image/x-icon" href="/media/imgs/landing/money.webp" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #CD2A2A; color:black;">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
            <img src="../media/imgs/landing/logo.png">
            </a>
        </div>
    
        <div class="navbar-menu">
    
            <div class="navbar-end">
            <a class="navbar-item" style="background-color: white;">
                SIGN IN
            </a>
    
            <a class="navbar-item" style="background-color: rgb(0, 0, 0); color: white;">
                SIGNUP
            </a>
    
            </div>
        </div>
    </nav>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Your Website</p>
    </footer>
</body>
</html>